<%- include('../partials/headeruser') %>

  <h1>Edit Pet Detail</h1>
  <form action="/pets/<%= pet._id %>?_method=PUT" method="POST" autocomplete="off">
    Name: <input type="text" name="name" value="<%= pet.name %>"> 
    Breed: <input type="text" name="breed" value="<%= pet.breed %>">
    Age: <input type="number" name="age" value="<%= pet.age %>">
    Health Conditions: <input type="text" name="healthConditions" value="<%= pet.healthConditions.join(',') %>">
    Medications: <input type="text" name="medications" value="<%= pet.medications.join(',') %>">
    <button type="submit">Save Changes</button>
  </form>

  <%- include('../partials/footer')%>