<%- include('../partials/headeruser') %>

  <h1>Pet Central Kennel</h1>

  <table id="kennel">
    <tbody>
      <% user.pets.forEach(function(pet, idx){ %>

        <tr>
          <td><%= pet.name %></td>
          <td><%= pet.type %></td>
          <td><form action="/pets/<%= pet._id %>?_method=DELETE" method="POST" class="delete-form">
            <button type="submit">X</button>
          </form></td>
        </tr>
        <td><a href="/pets/<%= pet._id %>">Details</a></td>
        <% }); %>
    </tbody>
  </table>

  <%- include('../partials/footer')%>