<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pet Central</title>
</head>
<body>
  <h1>Pet Detail</h1>
 <section id="pet-show-page">
   <% user.pets.forEach(p => { %>
    <div>Name: <%= p.name %></div>
    <div>Type: <%= p.type %></div>
    <div>Breed: <%= p.breed %></div>
    <div>Age: <%= p.age %></div>
    <div>Health Conditions: <%= p.healthConditions.join(',') %></div>
    <div>Medication: <%= p.medications.join(',') %></div>
    <div>Providers: <%= p.providers.join(',') %></div>
    <a href="/pets/<%= p._id %>/edit">Edit Pet Detail</a>
    <% }) %>
   
 </section>
 <a href="/pets/index"> Go back to Pet Index</a>
 <a href="/users/index">Go back to Home Page</a>
 
</body>
</html>