<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pet Central</title>
</head>
<body>
  <h1>Pet Detail</h1>
 <section id="pet-show-page">
   <div>Name: </div>
   <div><%= name %></div>
   <div>Type:</div>
   <div><%= type %></div>
   <div>Breed:</div>
   <div><%= breed %></div>
   <div>Age:</div>
   <div><%= age %></div>
   <div>Health Conditions:</div>
   <div><%= healthConditions.join(',') %></div>
   <div>Medication:</div>
   <div><%= medications.join(',') %></div>
   <div>Providers:</div>
   <div><%= providers.join(',') %></div>
 </section>
 <a href="/pets/index"> Go back to Pet Index</a>
 <a href="/users/index">Go back to Home Page</a>
 
</body>
</html>