<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pet Central</title>
</head>
<body>
  <h1>Pet Detail</h1>
 <section id="pet-show-page">
   <div>Name: <%= name %></div>
   <div>Type: <%= type %></div>
   <div>Breed: <%= breed %></div>
   <div>Age: <%= age %></div>
   <div>Health Conditions: <%= healthConditions.join(',') %></div>
   <div>Medication: <%= medications.join(',') %></div>
   <div>Providers: <%= providers.join(',') %></div>
   
 </section>
 <a href="/pets/index"> Go back to Pet Index</a>
 <a href="/users/index">Go back to Home Page</a>
 <a href="/pets/<%= id %>/edit">Edit Pet Detail</a>
 
</body>
</html>