<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pet Central</title>
</head>
<body>
  <h1>Pet Detail</h1>
 <section id="pet-show-page">
    <div>Name: <%= pet.name %></div>
    <div>Type: <%= pet.type %></div>
    <div>Breed: <%= pet.breed %></div>
    <div>Age: <%= pet.age %></div>
    <div>Health Conditions: </div>
    <ul>
      <li><%= pet.healthConditions.join(', ') %></li>
    </ul>

    <div>Medication: </div>
    <ul>
       <li> <%= pet.medications.join(', ') %></li>
    </ul>

    <div>Providers: </div>
    <ul>
      <%- pet.providers.map(pr => `<li>${pr.name} - ${pr.type}</li>`).join('') %>
    </ul>
    <a href="/pets/<%= pet._id %>/edit">Edit Pet Detail</a>  
<br>
  </section>
<br>
  <form id="add-to-team" action="/pets/<%= pet._id %>/providers" method="POST"> 
    <select name="providerId">
      <%- providers.map(pr => `<option value="${pr._id}">${pr.name}</option>`).join('') %>
    </select>
    <button type="submit">Add to Team</button>
  </form>
  <hr>
 <a href="/pets/index"> Go back to Pet Index</a>
 <a href="/users/index">Go back to Home Page</a>
 
</body>
</html>