<%- include('../partials/headeruser') %>

  <h3 class="center-align">Pet Detail</h3>
  <div class="container">
 <section id="pet-show-page">
    <div>Name: <%= pet.name %></div>
    <div>Type: <%= pet.type %></div>
    <div>Breed: <%= pet.breed %></div>
    <div>Age: <%= pet.age %></div>
    <div>Health Conditions: <%= pet.healthConditions.join(', ') %></div>
    <div>Medication: <%= pet.medications.join(', ') %></div>


    <div>Providers: </div>
    <ul>
      <%- pet.providers.map(pr => `<li>${pr.name} - ${pr.type}</li>`).join('') %>
    </ul>
    <a href="/pets/<%= pet._id %>/edit">Edit Pet Detail</a>  
<br>
  </section>
</div>
<br>

  <form id="add-to-team" action="/pets/<%= pet._id %>/providers" method="POST"> 
    <div class="input-field container">
    <select name="providerId">
      <%- providers.map(pr => `<option value="${pr._id}">${pr.name}</option>`).join('') %>
    </select>
    </div>
    <div class="center-align"><button type="submit">Add to Team</button></div>
    
  </form>
  

  <%- include('../partials/footer')%>