<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pet Central</title>
</head>
<body>
  <h1>Pet Detail</h1>
 <section id="pet-show-page">
   <div>Name: </div>
   <div><%= pet.name %></div>
   <div>Type:</div>
   <div><%= pet.type %></div>
   <div>Breed:</div>
   <div><%= pet.breed %></div>
   <div>Age:</div>
   <div><%= pet.age %></div>
   <div>Health Conditions:</div>
   <div><%= pet.healthConditions %></div>
   <div>Medication:</div>
   <div><%= pet.medications %></div>
   <div>Providers:</div>
   <div><%= pet.providers %></div>

 </section>

</body>
</html>