<%- include('../partials/headeruser') %>

  <h1>Provider Index</h1>

  <table id="directory">
    <tbody>
      <% user.providers.forEach(function(provider, idx){ %>

        <tr>
          <td><%= provider.name %></td> 
          <td><%= provider.type %></td>      
          <td><a href="/providers/<%= provider._id %>">Details</a></td>    
          <td><form action="/providers/<%= provider._id %>?_method=DELETE" method="POST" class="delete-form">
            <button type="submit">X</button>
          </form></td>
        </tr>
        <% }); %>
      </tbody>
    </table>


  <%- include('../partials/footer')%>