<%- include('../partials/headeruser') %>

  <h3 class="center-align">Provider Directory</h3>
  <div class="container">
  <table id="directory">
    <tbody>
      <% user.providers.forEach(function(provider, idx){ %>

        <tr>
          <td><%= provider.name %></td> 
          <td><%= provider.type %></td>      
          <td><a href="/providers/<%= provider._id %>">Details</a></td>    
          <td><form action="/providers/<%= provider._id %>?_method=DELETE" method="POST" class="delete-form">
            <button class="btn-flat" type="submit">X</button>
          </form></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>


  <%- include('../partials/footer')%>