<%- include('../partials/headeruser') %>

  <h3 class="center-align">Provider Detail</h3>
  <div class="container">
  <section id="provider-show-page">
    <div>Name:  <%= provider.name %></div>
    <div>Type:  <%= provider.type %></div>
    <div>Services:  <%= provider.services.join(', ') %></div>
    <br>
    <a href="/providers/<%= provider._id %>/edit">Edit Provider Detail</a>
  </section>
  </div>



  <%- include('../partials/footer')%>